/ banner
%section#banner.banner
  .bg-color
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .col-md-12
          .navbar-header
            %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "/"}
              -# =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive")
              .white Next Step Care
          #myNavbar.collapse.navbar-collapse.navbar-right
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "/"} Home
              %li
                %a{:href => "/about"} About
              %li
                %a{:href => "/#contact"} Contact
              -# %li
              -# = form_tag(controller: :provider , action: :search) do
              -#   .form-group
              -#     %input.form-control{name: 'search', placeholder: 'Enter City, State, or Zip...'}
              -#     .input-group-btn.col-md-3
              -#       %button.btn.btn-default.search-submit{type: :submit} Submit
    .container
      .row
        .banner-info
          .banner-logo.text-center
            %h1.white Next Step Care
          .banner-text.text-center
            %h1.white Helping you find the perfect nursing home
            %p
              Search by City, State, or Zip to find a nursing home closest to you.
              %br/
              - flash.each do |key, value|
                %div{:class => "alert alert-#{key}"}
                  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                  %span{"aria-hidden" => "true"}
                  = value
              .row
                = form_tag(controller: :provider , action: :search) do
                  .form-group.col-xs-4.col-xs-offset-4
                    %input.form-control{name: 'search', placeholder: 'Enter City, State, or Zip...', required: true}
                    %button.btn.btn-default.search-submit{type: :submit} Submit
          .overlay-detail.text-center
            %a{:href => "#service"}
              %i.fa.fa-angle-down

/ / banner
/ service
%section#service.section-padding
  .container
    .row
      .col-md-4.col-sm-4
        %h2.ser-title Nursing Homes
        %hr.botm-line/
        %p Nursing homes, in varying sizes and styles, may be the best choice for people with illnesses or physical or mental limitations that require monitoring and care from medical professionals. To find the best fit, take the time and effort to compare a few facilities as to quality of care as well as personal preferences such as location, size, and resident characteristics.

      .col-md-4.col-sm-4
        .service-info
          .icon
            %i.fa.fa-stethoscope
          .icon-info
            %h4 24 Hour Support
            %p Residents have 24-hour access to trained staff, so they can be continuously monitored for medical needs and can receive help with the activities of daily living.
        .service-info
          .icon
            %i.fa.fa-heartbeat
          .icon-info
            %h4 Monitored Care
            %p Residents will be monitored closely throughout their stay at the Nursing Home facility. They typically have a set of dedicated professionals to keep them on scheduled medication if needed and help them get the movement they need.

      .col-md-4.col-sm-4
        .service-info
          .icon
            %i.fa.fa-user-md
          .icon-info
            %h4 Service Options
            %p There are two levels of nursing home care. In a skilled nursing facility (SNF), residents are under the 24-hour care of licensed or registered nursing staff, while in an intermediate care facility residents are cared for by certified nursing assistants.
        .service-info
          .icon
            %i.fa.fa-medkit
          .icon-info
            %h4 Healthcare Cost
            %p Nursing Home facilities assess fees on a daily basis. If necessary, additional services and supplies may be added to a patient’s bill. Prices vary based on location and level of assistance the patient will need.

/ / service
/ cta
%section#cta-1.section-padding
  .container
    .row
      .req-info-tab
        .col-md-12
          .mt-boxy-color
          .medi-info
            %h3 Request Info
            %p Let us do the leg work in fining you a Nursing Home that best suits your needs. Send in the form below and someone will contact you shortly.
            %small
              %strong.center*TIP: Enter the location where you are looking for a home.
            = form_tag(controller: :provider , action: :req_info) do
              .form-group.col-xs-10
                %input.form-control{name: 'name', placeholder: 'Full Name', required: true}
                %input.form-control{name: 'location', placeholder: 'City, State or Zip', required: true}
                %input.form-control{name: 'email', placeholder: 'Email', required: true}
                %input.form-control{name: 'number', placeholder: 'Phone Number', required: true}
                %input.form-control{name: 'web_referral', type:'hidden', value: "Next Step Care"}
                %input.form-control{name: 'home_type', type:'hidden', value: "Nursing Home"}
                %button.form-control.btn.btn-default.search-submit{type: :submit} Submit

/ cta
/ about
%section#about.section-padding
  .container
    .row
      .col-md-3.col-sm-4.col-xs-12
        .section-title
          %h2.head-title.lg-line
            The Medilap
            = succeed "Ultimate" do
              %br/
          %hr.botm-line/
          %p.sec-para Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
          %a{:href => "", :style => "color: #0cb8b6; padding-top:10px;"} Know more..
      .col-md-9.col-sm-8.col-xs-12
        .col-sm-9.more-features-box{:style => "visibility: visible;"}
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3 It's something important you want to know.
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3 It's something important you want to know.
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
/ / about
/ testimonial
%section#testimonial.section-padding
  .container
    .row
      .col-md-12
        %h2.ser-title see what patients are saying?
        %hr.botm-line/
      .col-md-4.col-sm-4
        .testi-details
          / Paragraph
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .testi-info
          / User Image
          %a{:href => "#"}
            =image_tag("thumb.png", class: "img-responsive")
          / User Name
          %h3
            Alex
            %span Texas
      .col-md-4.col-sm-4
        .testi-details
          / Paragraph
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .testi-info
          / User Image
          %a{:href => "#"}
            =image_tag("thumb.png", class: "img-responsive")
          / User Name
          %h3
            Alex
            %span Texas
      .col-md-4.col-sm-4
        .testi-details
          / Paragraph
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .testi-info
          / User Image
          %a{:href => "#"}
            =image_tag("thumb.png", class: "img-responsive")

          / User Name
          %h3
            Alex
            %span Texas

/ State List
%section.section-padding.state-section
  .container
    .row
      %h2 Nursing Homes By State
      %hr.bottom-line

    .row
      %ul.state-list.list-inline
        -@states.each do |key, val|
          %li
            %a{:href => "/nursing-home-finder/nursing-homes/#{val}"}
              =val
  %hr

/ cta
/ contact
%section#contact.section-padding
  .container
    .row
      .col-md-12
        %h2.ser-title Contact us
        %hr.botm-line/
      .col-md-4.col-sm-4
        %h3 Contact Us
        .space
        %p
          Want to add or claim a Nursing Home on our list? Have a general question? Please fell free to contact us through the form and someone will reach out to you within 24-48 hours.

      .col-md-8.col-sm-8.marb20
        .contact-info
          %h3.cnt-ttl Send us any questions or comments
          .space
          #sendmessage Your message has been sent. Thank you!
          #errormessage
          %form.contactForm{ controller: :provider, :action => "send_contact_form", :method => "post", :role => "form"}
            .form-group
              %input#name.form-control.br-radius-zero{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
              .validation
            .form-group
              %input#email.form-control.br-radius-zero{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
              .validation
            .form-group
              %input#subject.form-control.br-radius-zero{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
              .validation
            .form-group
              %textarea.form-control.br-radius-zero{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
              .validation
            .form-action
              %button.btn.btn-form{:type => "submit"} Send Message

:javascript
  $("#search").on('click', function(){
    var searchInput = $('#search-input').val();
    $.ajax({
      method: "POST",
      url: "/provider/search/"+searchInput
    })
  })
