.bg-color-results
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .col-md-12
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            -# =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive")
            .white Adult Home Finder
        #myNavbar.collapse.navbar-collapse.navbar-right
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home
            %li
              %a{:href => "/about"} About
            %li
              %a{:href => "/contact"} Contact
%section#filter
  .container
    .row
      -# = form_tag(controller: :provider , action: :search) do
        -# .form-group
        -#   %input.form-control{name: 'search', value: @location, required: true, type:'hidden'}
        -#   .form-check.form-check-inline
        -#     %label.filter-label Filter home type:
            -# %label.form-check-label
            -#   Nursing Home
            -#   %input.form-check-input{type:'radio',name: 'home_type', value:"Nursing Home", required: true}
            -# %label.form-check-label
            -#   Assisted Living
            -#   %input.form-check-input{type:'radio',name: 'home_type', value:"Assisted Living Facility", required: true}
            -# %label.form-check-label
            -#   Both
            -#   %input.form-check-input{type:'radio',name: 'home_type', value:"", required: true, checked:true}
            -# %button.btn.btn-default.search-submit{type: :submit} Submit
    .row
      %ol{:id => "selector"}
        %li
          %a{:href => "/"}
            Home >
        - if @loc_type == "City" && !@state.nil?
          %li
            %a{:href => "/adult-home-finder/adult-homes/#{@state}"}
              #{@state} >
          %li
            %a{:href => "/adult-home-finder/adult-homes/#{@location}?state=#{@state}"}
              #{@location}
        - else
          %li
            %a{:href => "/adult-home-finder/adult-homes/#{@state}"}
              #{@location}
- if @loc_type == "State"
  %section#about.section-padding
    .container
      .row
        .section-title
          %h2.head-title.lg-line
            - if @home_type.blank?
              Adult Homes in #{@location} by City
            - else
              #{@home_type}s in #{@location} by City
          %br/
          %hr.botm-line/
      .row
        %ul.city-list.list-inline
          -@cities.each do |city|
            %li
              %a{:href => "/adult-home-finder/adult-homes/#{city}?state=#{@location}", :title=>"Assisted Living Facility Nursing Home"}
                =city


%section#about.section-padding
  .container
    .request-form-container
      .req-header
        .main Need Help?
        .sub Let our service team help pair you with the best home for your loved one. Don't worry, this service is free!
      .req-form
        = form_tag(controller: :provider , action: :req_info) do
          .form-group.col-xs-10
            %input.form-control{name: 'name', placeholder: 'Full Name', required: true}
            %input.form-control{name: 'location', placeholder: 'City, State or Zip', required: true}
            %input.form-control{name: 'email', placeholder: 'Email', required: true}
            %input.form-control{name: 'number', placeholder: 'Phone Number', required: true}
            %input.form-control{name: 'web_referral', type:'hidden', value: "Adult Home Directory"}
            -# .form-check
            -#   %label.form-check-label
            -#     Nursing Home
            -#     %input.form-check-input{type:'radio',name: 'home_type', value:"Nursing Home", required: true}
            -# .form-check
            -#   %label.form-check-label
            -#     Assisted Living
            -#     %input.form-check-input{type:'radio',name: 'home_type', value:"Assisted Living Facility", required: true}
            -# .form-check
            -#   %label.form-check-label
            -#     Both
            -#     %input.form-check-input{type:'radio',name: 'home_type', value:"", required: true, checked:true}
            %button.form-control.btn.btn-default.search-submit{type: :submit} Submit
      .clearfix
      .req-legal By submitting your information, you agree to the terms and conditions of our Privacy Policy, Terms of Use, and Agreement to be Contacted by Telephone. Your consent is not required to use our service.

    .row
      .section-title
        %h2.head-title.lg-line
          - if @home_type.blank?
            Showing #{@homes.count} Adult Homes in #{@location}
          - else
            Showing #{@homes.count} #{@home_type}s in #{@location}
        %br/
        %hr.botm-line/
        .row
          -@homes.each do |home|
            .provider-container.col-xs-12.col-md-8
              .col-xs-9
                .provider-name=home.name
                .provider-address=Provider.full_address(home)
                .rating-container
                  Rating:
                  =home.overall_rating
                  of 5
                .medi
                Medicare:
                - if home.medicare
                  .fa.fa-check-square.green
                - else
                  .fa.fa-minus-square.red

                Medicaid:
                - if home.medicaid
                  .fa.fa-check-square.green
                - else
                  .fa.fa-minus-square.red
                %br
              .col-md-3.col-xs-6.req-info-btn.btn.btn-default{"type"=> 'button', "data-toggle"=> "modal", "data-target"=> "#req-modal", "data-name"=> "#{home.name}", "data-provNumber"=> "#{home.id}"}
                Request Info
              %a.col-md-3.col-xs-6.req-info-btn.btn.btn-default{:href => "/adult-home-finder/adult-home/#{home.name}", :title=>"#{home.home_type}"}
                Home Details
