!!!
%html{:lang => "en"}
  %head
    %meta{:name=>"google-site-verification", :content=>"fQd7tZ1ByDgHtxbI1zwBG9hiX2eDUMNOqX8s4cN0YEk"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Adult Home Finder
    %meta{:content => "Adult, Elderly, Nursing Home, Assisted Living, Care, Old Age Home, Caring, Parents", :name => "keywords"}
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %script{:async => true, :src=>"https://www.googletagmanager.com/gtag/js?id=UA-111635553-1"}

    %body#myPage{"data-offset" => "60", "data-spy" => "scroll", "data-target" => ".navbar"}
      = yield
      = render :partial => "shared/footer"
      = render :partial => "shared/modal"
      :javascript
        $('#req-modal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var name = button.data('name') // Extract info from data-* attributes
          var provNumber = button.data('provnumber') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Request Info for ' + name)
          modal.find('.modal-body input[name="home_id"]').val(provNumber)
        })
        // GA Tag
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111635553-1');
